# Database Credentials
DB_USER=battarey_manager_admin
DB_PASSWORD=battarey_manager_pass
DB_NAME=battarey_manager
DB_PORT=5432

# FastAPI settings
APP_PORT=8000
APP_NAME="Battary Manager"

# For browser
NEXT_PUBLIC_API_URL="http://localhost:8000"

# For server Next.js (Docker)
API_URL="http://backend:8000"

# NextJs settings
NEXTJS_PORT=3000
